@import "tailwindcss";

@layer base {
  :root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    a {
      @apply transition-colors duration-200 ease-in-out;
    }
  }

  body {
    min-width: 320px;
    font-weight: 500;
  }

  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }

  /* Apply global focus styles to common focusable elements */
  button,
  a,
  input,
  select,
  textarea,
  details,
  [tabindex]:not([tabindex="-1"]) {
    @apply focus-visible:outline-2 focus-visible:outline-offset-2 outline-body;
  }

  /* Ensure elements that typically don't have an outline by default still get one for accessibility if they are focusable */
  :focus-visible {
    outline: 2px solid hsl(255, 11%, 22%);
    outline-offset: 2px;
  }
}

@theme {
  --font-sans: "Poppins", system-ui, Avenir, Helvetica, Arial, sans-serif;
}

@theme inline {
  --color-primary: hsl(180, 66%, 49%);
  --color-primary-dark: hsl(257, 27%, 26%);
  --color-secondary: hsl(0, 0%, 75%);
  --color-error: hsl(0, 87%, 67%);
  --color-body: hsl(255, 11%, 22%);
  --color-muted: hsl(257, 7%, 63%);
  --color-background: hsl(230, 25%, 95.29%);
  --color-background-dark: hsl(260, 8%, 14%);
  --color-white: hsl(0, 0%, 100%);

  --color-primary-hover: hsl(from var(--color-primary) h s calc(l + 25));
  --color-glow: hsl(45, 100%, 70%);
}

@utility form-bg-image {
  background-image: url(/images/bg-shorten-mobile.svg);
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 100% right;

  @media screen and (min-width: 768px) {
    background-image: url(/images/bg-shorten-desktop.svg);
    background-size: 100% 100%;
  }
}

@utility cta-bg-image {
  background-image: url(/images/bg-boost-mobile.svg);
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 100% 100%;

  @media screen and (min-width: 768px) {
    background-image: url(/images/bg-boost-desktop.svg);
  }
}

@utility page-px {
  --px: 1.5rem;

  @media screen and (min-width: 640px) {
    --px: 3rem;
  }

  @media screen and (min-width: 768px) {
    --px: 3.5rem;
  }

  @media screen and (min-width: 1024px) {
    --px: 7.5rem;
  }

  @media screen and (min-width: 1280px) {
    --px: 10.625rem;
  }

  padding-inline: var(--px);
}

@utility icon-primary {
  filter: brightness(0) saturate(100%) invert(71%) sepia(85%) saturate(1500%)
    hue-rotate(140deg) brightness(95%) contrast(90%);
}

@utility page-bg {
  background: linear-gradient(
    to bottom,
    var(--color-white) 50%,
    var(--color-background-dark) 50%
  );
}

@utility page-max-w {
  max-width: 1440px;
  margin-inline: auto;
}
